@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@800&display=swap');

:root {
    --a: 0;
    --b: 235px;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

.container {
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
}

.bg-color {
    background-color: black;
    color: white;
}

.left {
    width: 25vw;
    position: relative;
}

.cross {
    display: none;
    position: absolute;
    right: 19px;
    top: 19px;
    cursor: pointer;
}

.right {
    width: 75vw;
    margin: 7px 1px 7px 0px;
    background-color: #1e1e1e;
    height: 98.3vh;
    position: relative;
    overflow-x: hidden;
}

.home {
    padding: 15px;
    height: 15vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.home ul li {
    width: 24px;
    display: flex;
    gap: 15px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}

.heading {
    width: 100%;
    display: flex;
    gap: 15px;
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
    font-size: 10px;
}

.heading img {
    width: 25px;
}

.library {
    position: relative;
    height: 79vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 12px 24px;
    background-color: #101010;
    height: 68px;
}

.nav {
    gap: 19px;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.signupBtn {
    background-color: #101010;
    color: #b3b3b3;
    padding: 8px 32px;
    border: none;
    color: #b3b3b3;
}

.signupBtn:hover {
    font-size: 14px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    transition: all 0.5s ease-out;
    translate: 0px -5px 0px;
}

.loginBtn {
    border-radius: 30px;
    padding: 15px 0px;
    font-weight: bold;
    width: 100px;
}

.loginBtn:hover {
    cursor: pointer;
    font-family: 'Noto Sans', sans-serif;
    /* padding: 17px 0px;
    width: 102px; */
    transition: all 0.2s ease-out;
    translate: 0px -5px 0px;

}

.cardContainer {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 60vh;
}

.spotifyPlaylists {
    padding: 16px;
}

.spotifyPlaylists h1 {
    padding-bottom: 20px;
}

.cards {
    width: 309px;
    height: 490px;
    padding: 10px;
    border-radius: 10px;
    background-color: #171717;
    position: relative;
    transition: all 0.5s;
}

.cards:hover {
    background-color: rgb(41, 41, 41);
    cursor: pointer;
    --a: 1;
    --b: 263px;
}

.cards img {
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
    padding-top: 0;

}

.cards>* {
    padding-top: 10px;
}

.play {
    position: absolute;
    bottom: var(--b);
    right: 23px;
    opacity: var(--a);
    transition: all 0.5s ease-out;
}

.playbar {
    position: fixed;
    bottom: 5px;
    background-color: #31bf52;
    width: 72vw;
    padding: 16px 0px;
    border-radius: 7px;
    min-height: 32px;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    margin: 12px;
    font-weight: bold;
}

.songButtons {
    gap: 12px;
    position: static;
    width: 298px;
    height: 27px;
}

.songButtons img:hover {
    cursor: pointer;
    translate: 0px -2px 0px;
    transition: all 0.3s ease-out;
}

.volume {
    width: 154px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    cursor: pointer;
}

.volume img:hover {
    translate: 0px -2px 0px;
    transition: all 0.3s ease-out;
}

#vrange {
    width: 107px;
    cursor: pointer;
}

.songList {
    height: 448px;
    overflow: auto;
    overflow-x: hidden;
    width: 24vw;
    font-weight: bold;
}

.songList ul {
    padding: 0px 1px;

}

.songList ul li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    cursor: pointer;
    padding: 12px 14px;
    margin: 12px;
    border-radius: 7px;
    background-color: #1e1e1e;
    cursor: pointer;
}

.songList ul li:hover {
    background-color: rgb(39, 38, 38);
    translate: 0px -5px 0px;
    transition: all 0.3s ease-out;
}

.songList .info {
    font-size: 13px;
    width: 344px;
}

.seekbar {
    height: 2px;
    width: 98%;
    border: 2px solid white;
    border-radius: 10px;
    position: absolute;
    bottom: 5px;
    margin: 2px;
    cursor: pointer;
}

.circle {
    height: 12px;
    width: 12px;
    border-radius: 13px;
    background-color: white;
    position: relative;
    bottom: 5px;
    left: 0%;
    transition: left 0.5s;
}

.circle:hover {
    cursor: pointer;
    height: 14px;
    width: 14px;
    bottom: 6px;
}

.songinfo,
.songtime {
    padding: 0px 12px;
}

.songtime {
    width: 90px;
}

.songbox {
    width: 567px;
}


@media (max-width: 1400px) {
    .left {
        position: absolute;
        left: -120%;
        transition: all 0.3s;
        z-index: 1;
        width: 361px;
        background-color: black;
    }

    .songList {
        width: 98%;
    }

    .right {
        width: 100vw;
        margin: 0;
    }

    .playbar {
        width: 98vw;
        font-size: 14px;
        font-weight: bold;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 9px;
    }

    .hamburger {
        display: block;
    }

    .cross {
        display: block;
    }

    .cardContainer {
        justify-content: center;
        width: 90vw;
    }

    .cardContainer .cards {
        width: 289px;
    }

    .volume {
        display: none;
    }
}